%h1 MapHeroStats#index
%p Find me in app/views/map_hero_stats/index.html.erb

= render @map_hero_stats
%p do this one after doing map_stats and hero_stats then you will know what fields are needed here
