%section.white-section
  %h1 Per Map Per Hero Statistics
  %div.tbl-header
    %table#keywords.matchesdatatable
      %thead
        %tr
          %th
            %span
              Map
          %th
            %span
              Hero
          %th
            %span
              Wins
          %th
            %span
              Loses
          %th
            %span
              Draws
          %th
            %span
              Win Ratio
          %th
            %span
              Played
          %th
            %span
              Total Games
      %tbody.tbl-content
        = render @map_hero_stats
