%section.white-section
  %h1 Map Stats
  %div.tbl-header
    %table#keywords.matchesdatatable
      %thead
        %tr
          %th
            %span
              Map
          %th
            %span
              Wins
          %th
            %span
              Loses
          %th
            %span
              Draws
          %th
            %span
              Played
          %th
            %span
              Map Contribution
          %th
            %span
              Total Games
  %div.tbl-content
    %table#keywords.matchesdatatable
      %tbody
        = render @map_stats
