%section.white-section
  %h1.titletag Hero Statistics
  %div.tbl-header
    %table#keywords.matchesdatatable
      %thead
        %tr
          %th
            %span
              Hero
          %th
            %span
              Wins
          %th
            %span
              Loses
          %th
            %span
              Draws
          %th
            %span
              Win Ratio
          %th
            %span
              Total Games
      %tbody.tbl-content
        = render @hero_stats

- @data = [5,10,3,4,6,2,3,5,7,2,6,4,2,7,3,56,3,6,8,12,43,6,20]

%div.container
  %div.col-xs-8.col-xs-offset-2
    - data = {labels: @hero_names,
      datasets: [{ data: @data,
        backgroundColor: @colors }]}
    = pie_chart data
