%div.container-fuild
  %main.hometopsec
    %div.intro-message
      %h1.main-heading
        OverTracker Personal Game Stats Tracker
      %h3.main-heading-desc
        You gonna perform better if you know where to push

      - unless logged_in?
        %div.container
          %div.col-sm-6.col-sm-offset-3
            %div.col-sm-6
              %button.csbuttons.c-btn.c-btn--primary.c-btn-home #{link_to "Login", login_path}
            %div.col-sm-6
              %button.csbuttons.c-btn.c-btn--primary.c-btn-home #{link_to "Sign up", signup_path}
      - if logged_in?
        %div.container
          %div.col-sm-10.col-sm-offset-1
            = render 'pages/summary'
%div.container-fuild.light-theme.home-page
  %div.container
    %section.col-xs-12.col-sm-5.left.main-page-img
      %img{:src => image_url("imac-final.png")}
    %section.col-xs-12.col-sm-6.right.main-page-section
      %h1.titletag
        Record results of your matches
      %h3.titledesc
        Create a new record with match results after each match to gather detailed
        statistics on your playing skills
  %div.container-fuild.dark-theme
    %div.container
      %section.col-xs-12.col-sm-5.right.main-page-img
        %img{:src => image_url("ipad-final.png")}
      %section.col-xs-12.col-sm-6.left.main-page-section
        %h1.titletag
          Observe various statistics
        %h3.titledesc
          Know your strengths and weaknesses: Look on your performance as each
          hero on each map and get crystal clear picture on what you should work harder
  %div.container
    %section.col-xs-12.col-sm-5.left.main-page-img
      %img{:src => image_url("iphone-final.png")}
    %section.col-xs-12.col-sm-6.right.main-page-section
      %h1.titletag
        Grow your Skill Rating
      %h3.titledesc
        Train harder on heroes and maps you want to perform better.
        Statistics is a perfect tool to see where you should push harder
  %div.container-fuild
    %section.col-sm-12.awesome-container
      %h2.awesome
        Login to discover how awesome we are
  %div.container-fuild
    %section.col-sm-12.bg-mountain-city.show-for-lg
      %div.container
        %section.col-sm-12.main-page-section
          %h1.main-heading
            Built for the Gamers by the Gamers!
          %h3.main-heading-desc
            No matter your playstyle, there’s a unique hero for you.<br/>
            Master their abilities to unlock their <br/>potential and achieve victory.

  %div.container-fuild.bg-musem
    %div.container
      %section.col-xs-12.col-sm-5.tracer-img.left
        %img{:src => "http://vignette3.wikia.nocookie.net/deathbattlefanon/images/9/99/Tracer.png/revision/latest?cb=20160529142716"}/
      %section.col-xs-12.col-sm-5.right.main-page-section.right
        %h1.titletag
          Watch Your Stats
        %h3.titledesc
          Statistics is your way to win. The world could use a hero like you.
        - unless logged_in?
          %col-sm-12
            %div.col-sm-12
              %button.csbuttons.c-btn.c-btn--primary Sign up#{link_to "", signup_path}
