%section.white-section
  %h1.titletag Group Statistics

  %div.tbl-header
    %table#keywords.matchesdatatable
      %thead
        %tr
          %th
            %span
              Group Size
          %th
            %span
              Wins
          %th
            %span
              Loses
          %th
            %span
              Draws
          %th
            %span
              Win Ratio
          %th
            %span
              Total Games
      %tbody.tbl-content
        = render @group_stats

/group_stats byeok
