%section.white-section
  %h1.titletag Match Statistics
  -if @matches.any?

    %span.csbuttons
      = link_to "Export to CSV", "matches.csv"

    %div.tbl-header
      %table#keywords.matchesdatatable
        %thead
          %tr
            %th
              %span
                Match ID
            %th
              %span
                Rank
            %th
              %span
                W/L/D
            %th
              %span
                Win Streak
            %th
              %span
                Lose Streak
            %th
              %span
                Map Name
            %th
              %span
                Group Size
            %th
              %span
                Video Link
            %th
              %span
                Notes
            %th
              %span
                Heros Played
            /%th
            /  %span
            /    Edit or Delete
        %tbody.tbl-content
          = render @matches
    / or we can loop through @matches here and do something
