%p Attributes that user needs to enter are map, heroes, rank and groupsize
%p wow we didnt add groupsize in our erd, now I have to implement it
%p heroes are not yet implemented on backend, so it may break, you should still be able to design it
