@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

$buttons:#FC4349;
$dark:#24221F;
$darkgrey: #2E2B28;
$light:#FFFFFF;
$lightblue:#FEB41C;
$blue:#2980B9;
$mediumlight: #D7DADB;
$white:#FFF;
$black:#000;
$value: E6;
$imp: !important;
$tsc: #FFF0;
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

body{
  background-color: $dark $imp;
  font-family: 'Roboto', sans-serif !important;
}
section{
  margin: 10px;
}

/****Dark Theme****/
.dark-theme{
  background-color: $dark;
  color: $light;
  display: block;
}
.light-theme{
  background-color: $light;
  color: $dark;
  display: block;
}
input, button, select, textarea{
  color: $light, $imp;

}
// Header
header{
  display: block;
  position: relative;
  z-index: 1;
}
//navigation bar
.transparent{
  background: $tsc $imp;
}
.transparent li a{
  color: $mediumlight;
  font-weight: lighter;
  font-size: 16px;
}
.nav > li > a:hover, .nav > li > a:focus{
  background-color: $tsc $imp;
  color: $light $imp;
  transition: all 0.2s ease-in;
}
//Custom Login link
.nav li.csbuttons a{
  background-color: $tsc;
  color:$light;
  transition: all 0.2s ease-in;
}
.nav li.csbuttons a:hover,.nav li.csbuttons a:focus,
form .csbuttons:hover,form form .csbuttons:hover{
  background-color: $buttons+$imp;
  color: $light $imp;
  transition: background-color 0.3s ease-in;
  transition: all 0.2s ease-out;
}
.csbuttons{
  background-color: $tsc;
  color:$light;
  transition: all 0.2s ease-in;
}
button.csbuttons{
  background-color: $lightblue;
  color:$light;
  transition: all 0.2s ease-in;
}

button.csbuttons:hover{
  background-color: $buttons+$imp;
  color: $light $imp;
  transition: background-color 0.3s ease-in;
  transition: all 0.2s ease-out;
}

//hamburger
.navbar-toggle{
  background-color: $lightblue $imp;
}
.navbar-toggle .icon-bar {

    background-color: $dark;
}
.navbar-header {
    float: right;
    padding: 15px 0px 0px $imp;
}

//Big Screens > 768px
@media screen and (min-width: 768px) {
  //navigation bar links
  .nav > li {
    padding: 6px 3px;
  }
  .nav > li > a{
    margin: 5px;
    padding: 5px 15px $imp;
    border-radius: 2px;
  }

  //Custom Login button
  .csbuttons a,
  form .csbuttons{
    background-color: $lightblue $imp;
    color: $dark $imp;
    transition: all 0.2s ease-in;
  }
  .nav li.csbuttons a:hover,.nav li.csbuttons a:focus{
    background-color: $buttons+$value $imp;
    color: $light $imp;
    transition: background-color 0.3s ease-in;
    transition: all 0.2s ease-out;
  }

}

// Logo
#logo-holder{
  display:inline-block;
  margin-bottom: 0px;
}

// Form input fields
.field-labels {
  display: block;
    margin-right: 0%;
    text-align: left;
    text-transform: uppercase;
    font-size: small;
    word-wrap: break-word;
    word-break: normal;
    line-height: 1.2;
    vertical-align: middle;
    font-weight: lighter;
}
input.input-fields {
    background-color: $darkgrey;
    border: none;
    border-radius: 4px;
    color: $light;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    width: 100%;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin: 2px auto 15px;
    transform: skew(-0.15rad);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $darkgrey;
  opacity: 0.7;
  font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $darkgrey;
  opacity: 0.7;
  font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $darkgrey;
  opacity: 0.7;
  font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
  color: $darkgrey;
  opacity: 0.7;
  font-size: 14px;
}
textarea{
  transform: skew(-0.15rad);
  margin-bottom: 25px !important;
}
//Form select fields
.select-container {
    //width: 100%;
    display: inline-block;
    margin: 0px auto;
}
form .select-container label {
    margin-left: 2%;
}
form select{
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  width: 100%;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  margin: 2px auto 15px;
  transform: skew(-0.15rad);
  color:$light;
  background-color: $darkgrey;
  border: none;
}

#new_match .input-fields-container{
  //width: 100%;
  display: inline-block;
}

//New Match Form Input fields
#new_match input.input-fields{
  padding: 0px 15px;
  display: inline-block;
}
//Big Screens > 768px
@media screen and (min-width: 768px) {
  #new_match .select-container {
      //width: 49%;
      margin: 0px $imp;

  }
  #new_match #mapsplayed{
      //width: 49%;
  }
  #new_match #herosplayed{
      //width: 49%;
  }
}

//custom login buttons
.c-btn {
    width: 50%;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 5px auto 50px;
    transform: skew(-0.15rad);
    position: relative;
    display: block;
}
form .csbuttons{
  background-color: $lightblue;
  color:$light;
  transition: all 0.2s ease-in;
}
/*
.c-btn--primary {
    background-color: $buttons;
    background-image:linear-gradient(-180deg, $dark 0, $buttons 100%);
    color: $light;
    transition: all 0.3s ease-in;
}
.c-btn--primary:hover, .c-btn--primary:focus, {
    //background-color: $light $imp;
    color: $buttons $imp;
    transition: all 0.3s ease-in;
}*/


//middle secction
.page-main-content{
  //margin-top: -60px;
}
.page-main-content div.container{
  //padding-top: 180px;
}


.titletag{
  text-transform: capitalize;;
  font-size: x-large;
  font-weight: lighter !important;
  margin-bottom: 25px;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: none;
  letter-spacing: -1px;
  padding-top: 20px;
  font-weight: bold;
  display: block;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
/*Custom Nav*/
.cs-nav{
  width: 75%;
  display: inline;
}
/*Table Layouts*/

table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:auto;
  overflow-x:auto;
  margin-top: 0px;
  //border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 15px 5px $imp;
  text-align: center $imp;
  font-weight: 100;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  line-height: 14px;
  min-width: 60px;
}
td{
  min-width: 65px;
  padding: 7px 1px $imp;
  text-align: center $imp;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  border-bottom: solid 1px rgb(57, 29, 29);
}
td span a{
  padding: 5px 10px;
  border-radius: 2px;
}
/* Background-color of the odd rows */
table tr:nth-child(odd) {
	  background-color: #2E2B28;
}

/* Background-color of the even rows */
table tr:nth-child(even) {
	  background-color: #2E2B28;
}
table th {
	  background-color: #292723;
}
table tr:hover {
   background-color: #38393BB3;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}
table td:hover {
  background-color: $lightblue;
  color: $dark;
  font-weight: bold;
  box-shadow: #buttons -1px 1px;
  transform: translate3d(1px, -1px, 0);
  transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
  transition-timing-function: line;
}
//table for matches/index.html.haml Responsive look
@media (max-width: 800px) {
table.matchesdatatable th:nth-child(4),
table.matchesdatatable td:nth-child(4),

table.matchesdatatable th:nth-child(5),
table.matchesdatatable td:nth-child(5),

table.matchesdatatable th:nth-child(7),
table.matchesdatatable td:nth-child(7),

table.matchesdatatable th:nth-child(8),
table.matchesdatatable td:nth-child(8),

table.matchesdatatable th:nth-child(9),
table.matchesdatatable td:nth-child(9)
  {
    display: none $imp;
  }
}

td span a:hover{
  color:$light $imp;
}
/*Hero images in table style*/
span.heroimage img {
    width: 30px;
    height: auto;
}
#exportbutton {
    margin-bottom: 10px;
    position: relative;
    display: block;
}
#exportbutton a{
  padding: 5px;
  margin: 5px 5px 10px;
  border-radius: 2px;
}
/* footer */

footer {
  margin-top: 45px;
  margin-bottom: 50px;
  padding-top: 5px;
  border-top: none;
  color: #777;
  bottom: 0px;
  position: relative;
}

footer a {
  color: $lightblue;
  float: left;
  margin-left: 5px;
  text-decoration: none;
}

footer a:hover, footer a:focus {
  color: $light;
  text-decoration: none;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  display: inline-block;
  float: left;
  margin-left: 5px;
}
footer ul li a{
text-transform: uppercase;
font-size: 12px;
}

//Responsive Design Changes
@media screen and (max-width: 767px) {
  footer div nav {
      display: inline-block !important;
      position: relative;
      width: 100%;
  }
  footer ul {
    float: none;
    list-style: none;
    margin: 0px auto !important;
    position: relative;
    text-align: center;
    padding: 0px;
    display: block;
}
  footer ul li {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    border-bottom: 0.4px solid $light;
    padding: 10px 0px 8px;
    text-align: center;

 }
 footer ul li a::last-element{
   border-bottom:0px;
 }
 footer ul li a {
    margin: 0px auto;
    width: 100%;
    font-size: 12px;
}
}
