%footer.footer
  %div.container
    %div.row
      %small
        %a{:href => "#"} -OverTracker-
        %p: &nbsp;Let the Stats Flow
    %div.row
      %div.col-xs-12
        %nav
          %ul
            %li= link_to "About",   '#'
            %li= link_to "Contact", '#'
            %li= link_to "Stats", '#'
            %li
              %a{:href => "#"} News
