%footer.footer
  %div.container
    %small
      %a{:href => root_path} -OverTracker-
      %p: &nbsp;Let the Stats Flow
    /%div.row
    /  %div.col-xs-12
    /    %nav
    /      %ul
    /        %li= link_to "About",   '#'
    /        %li= link_to "Contact", '#'
    /        %li= link_to "Stats", '#'
    /        %li
    /          %a{:href => "http://news.railstutorial.org/"} News
