%footer.footer
  %div.container
    %div.col-xs-4.col-xs-offset-4
      %small
        %a{:href => root_path}  OVERTRACKER@Copyright 2017
        %p: &nbsp; Let the Stats Flow

    /%div.row
    /  %div.col-xs-12
    /    %nav
    /      %ul
    /        %li= link_to "About",   '#'
    /        %li= link_to "Contact", '#'
    /        %li= link_to "Stats", '#'
    /        %li
    /          %a{:href => "#"} News
