%header.navbar.navbar-fixed-top.navbar-inverse
  %div.container
    = link_to "OverTrack", '#', id: "logo"
    %nav.cs-nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Faqs",   '#'
        %li= link_to "Register", '#'
        %li= link_to "Log in", '#'
