%header.transparent.navbar
  %div.container
    %div#logo-holder
      = link_to "Overtracker", '#', id: "logo"
    %nav.cs-nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Faqs",   '#'
        %li= link_to "Register", '#'
        %li{:class => 'csbuttons'}
          = link_to "Log in", '#'
